{% extends 'base.html' %}
{% load static %}

{% block content %}
  <a href="{% url 'commission_create' %}" class="btn btn-primary m-3">Créer une commission</a>

  <h1 class="mx-3">Liste des commissions</h1>
        <div class="data_table">
          <table id="commission_table" class="table table-striped table-bordered">
            <thead class="table-dark">
              <tr>
                <th>Nom Commission</th>
                <th>Cellule</th>
                <th>Responsable</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for commission in commissions %}
                <tr>
                  <td>{{ commission.nom }}</td>
                  <td>{{ commission.cellule }}</td>
                  <td> {% if commission.responsable %} {{ commission.responsable }} {% endif %}</td>
                  <td>
                    <a  href="{% url 'commission_detail' commission.pk %}"
                        class="btn btn-outline-success btn-sm" type="button" title="Détails">
                        <i class="bi bi-info-circle" style="font-size: 1rem;"></i>
                    </a>
                    <a href="{% url 'commission_update' commission.pk %}"
                        class="btn btn-outline-warning btn-sm" type="button" title="Modifier">
                        <i class="bi bi-pencil-square" style="font-size: 1rem;"></i>
                    </a>
                    <a href="{% url 'commission_delete' commission.pk %}"
                      class="btn btn-outline-danger btn-sm" type="button" title="Supprimer">
                          <i class="bi bi-trash-fill" style="font-size: 1rem;"></i>
                    </a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="5">Aucune commission trouvée.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock %}
